.Line-Chart-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #cbd5e1;
  margin-left: 6%;
  margin-bottom: 15px;
}
.Line-chart-App {
  background: #331427;
  border-radius: 12px;
  border-radius: 12px;
  margin-bottom: 32px;
  padding: 40px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  cursor: default;
}
.Line-chart-App1 {
  background: #132240;
  border-radius: 12px;
  border-radius: 12px;
  margin-bottom: 32px;
  padding: 40px;
  padding-left: 20px;
  overflow-x: auto;
  cursor: default;
}
.Line-chart-App2 {
  background: #182829;
  border-radius: 12px;
  border-radius: 12px;
  margin-bottom: 32px;
  padding: 40px;
  padding-left: 20px;
  overflow-x: auto;
  cursor: default;
}
.Line-chart-App3 {
  background: #1c1c2b;
  border-radius: 12px;
  border-radius: 12px;
  margin-bottom: 32px;
  padding: 40px;
  padding-left: 20px;
  overflow-x: auto;
  cursor: default;
}
.Line-chart-App4 {
  background: #230f41;
  border-radius: 12px;
  border-radius: 12px;
  margin-bottom: 32px;
  padding: 40px;
  padding-left: 20px;
  overflow-x: auto;
  cursor: default;
}

.Line-Chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}

.Line-Chart-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}
.bar {
  border-radius: 10px;
}
.text-color-class {
  color: #cbd5e1;
}
@media screen and (min-width: 501px) and (max-width: 767px) {
  .Line-Chart-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #cbd5e1;
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .Line-Chart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
    overflow-x: auto;
  }
  .Line-Chart-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
    overflow-x: auto;
  }
  .bar {
    border-radius: 10px;
  }
  .text-color-class {
    color: #cbd5e1;
  }
}
@media screen and (max-width: 500px) {
  .Line-Chart-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #cbd5e1;
    margin-left: 2px;
    margin-bottom: 15px;
  }

  .Line-Chart-container {
    overflow-x: auto;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .Line-Chart-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
    overflow-x: auto;
  }
  .bar {
    border-radius: 10px;
  }
  .text-color-class {
    color: #cbd5e1;
  }
}
